<launch>
    
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" ></node>
    <arg name="node_start_delay" default="1.0" /> 
    <node pkg="task3" type="two_body_turtle.py" name="two_body_turtle" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "></node>
</launch>